@import "../../styles/mixins.scss";
.Navbar {
    height: 0px;
  &_Wrapper {
    @include flex-center;
    height: max-content;
    &_logo {
    }
    ul {
      @include flex-center;
      li {
        list-style: none;
      }
    }
  }
}
