@import "../../styles/mixins.scss";
@import "../../styles/var.scss";

.Navbar {
  height: 77px;
  width: 100%;
  z-index: 1;
  color: white;
  position: absolute;
  top: 0px;
  background-color: $primaryColor;
  padding-top: 15px;
  &_Wrapper {
    @include flex-center;
    width: 95%;
    margin: auto;
    &_logo {
      flex: 1;
      font-size: 1.5rem;
    }

    &_navContainer {
      flex: 2;

      ul {
        @include flex-center;
        gap: 20px;
        width: max-content;
        margin-left: auto;

        li {
          list-style: none;
          font-size: 1.1rem;
          text-transform: capitalize;
          transition: 0.4s;
          padding: 2px 0px;
          border-bottom: 4px solid transparent;

          &:hover {
            border-bottom: 4px solid white;
          }
        }
      }
    }
  }
}
