@import "../../../../styles/mixins.scss";
@import "../../../../styles/var.scss";
.WhyChooseUs {
    width: 95%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;

  &_headParaWrapper {
    @include flex-center;
    gap: 100px;
    margin-bottom: 2rem;
    h1{
        @include headingFontSizeMixin;
    }p{
        width: 70%;
text-align: justify;
font-weight: 400;
line-height: 1.7em;
    }
  }
  &_counterWrapper {
    @include flex-center;
    gap: 100px;
   text-align: center;
    margin-top: 2rem;
    &_card {
        h1{
            font-size: 5.5rem;
            color: $primaryColor;
            font-weight: 900;
            
        }
        p{
            font-weight: 700;
        }
    }
  }
}


@media (min-width:0px) and (max-width:768px) {
  .WhyChooseUs_headParaWrapper{
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
  }
}
@media (min-width:0px) and (max-width:430px) {
  .WhyChooseUs_counterWrapper{
    flex-direction: column;
    gap: 50px;
  }
}