@import "../../../../styles/var.scss";
@import "../../../../styles/mixins.scss";

.GetInTouch {
  @include flex-center;
  width: 95%;
  gap: 40px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  background: linear-gradient(to top left, #6e00ebcd, #6e00ebe4),
    url("/getInTouchBg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position: left;
  padding: 80px 40px;
  border-radius: 20px;

  &_content {
    flex: 1;

    h1 {
      @include headingFontSizeMixin;
    }

    p {
      margin-top: 10px;
      line-height: 1.7em;
    }
  }

  &_formWrapper {
    flex: 1;
    &_form {
      background-color: white;
      padding: 4rem 2rem;
      border-radius: 20px;
      box-shadow: $boxShadow;
      color: black;
      input {
        border: 2px solid $primaryColor;
      }
      button {
        margin-top: 1.5rem;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .GetInTouch {
    flex-direction: column;
    padding: 40px 10px;
  }

  .GetInTouch_formWrapper_form {
    padding: 4rem 1rem;

    button {
      margin-top: 0rem;
    }
  }
}
