


body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  background-color: transparent;
}
.hr{
background-color: #ECDCFD;
height: 0.5px;
margin: 10px 0px;
}

p{
  font-size: 1.1rem;
}