@import "../../styles/mixins.scss";
.ContentRenderer {
  width: 77%;
  margin: auto;
  margin-top: 200px;
  h1 {
    @include headingFontSizeMixin;
    margin-bottom: 50px;
    text-transform: capitalize;
  }
  p {
    margin-bottom: 2rem;
    text-align: justify;
    line-height: 1.7rem;
  }
}
