@import "../../../styles/mixins.scss";
.Home {
  &_wrapper {
    background: linear-gradient(to top right, #6e00ebab, #6e00eb),
      url("../../../../../public/bg-home.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flex-center;
    flex-direction: column;
    height: 120vh;
    margin-bottom: 150px;
    color: white;
    text-align: center;
    gap: 10px;
    &_heading {
      font-size: 5.7rem;
      font-weight: 900;
      margin-top: 1rem;
    }
    &_para {
      font-size: 1.1rem;
    }
    button {
      margin-top: 10px;
    }
  }
}
